<%= render 'partials/header' %>
<div class="parent">
  <div class="child">
    <h2>About</h2>
    Record your stock transactions to keep track of them and discover your performance using out proprietary algorithm.
  </div>

  <div class="child">
    To record a buy stock transaction:
    <ol>
      <li><a href="/search">Search</a> for the stock</li>
      <li>Click the link in the results set</li>
      <li>Enter data</li>
      <li>Save the entry to complete the transaction entry</li>
    </ol>
  </div>

  <div class="child">
    <h2>Errors</h2>
    If you discover an error in calculations or when using the site, please <a href="mailto:errors@example.com">contact us</a>.
  </div>
</div>