<div class="parent">
  <div class="child">
    <img src="/logo.png" height="75px" />
  </div>
  <div class="child">
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="username"/><br/>
      <input type="password" name="password" placeholder="password"/>
      <button type="submit">Log in</button>
    </form>
  </div>
  <div class="child">
    <span style="text-decoration: underline; text-decoration-style: dotted;">No Password?</span>
  </div>
  <div class="child">
    Track your stock purchases and discover stock and your performance.
  </div>
</div>